// =============================================================================
// About
// =============================================================================

.about {
  padding-top: 40px;
}

.about-image {
	padding-top: 50px;
}

.about-image-credit,
.about-image-credit a {
	text-align: right;
	color: $gray-light;
}
